<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>矿山行业管理平台-{%block title%}{%endblock%}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static',filename='css/ready.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/demo.css')}}">
</head>
<body>
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
            </div>
    </div>
</body>
<script src="{{url_for('static',filename='js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static',filename='js/core/popper.min.js')}}"></script>
<script src="{{url_for('static',filename='js/core/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/chartist/chartist.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/jquery-mapael/jquery.mapael.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/jquery-mapael/maps/world_countries.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/chart-circle/circles.min.js')}}"></script>
<script src="{{url_for('static',filename='js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>
<script src="{{url_for('static',filename='js/ready.min.js')}}"></script>
<script type="text/javascript">
var flash_info = new Array();
  {% for message in get_flashed_messages() %}
    flash_info[{{loop.index0}}]="{{ message }}";
  {% endfor %}

</script>
<script src="{{url_for('static',filename='js/demo.js')}}"></script>

</html>