{% extends 'back/base.html'%}

{% block main %}
<div class="content">
    <div class="container-fluid">
        <!--<h4 class="page-title">修改功能</h4>-->
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="{{url_for('back.user_info')}}" >
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">修改企业信息</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="company_code">企业代码</label>
                                <input type="text" class="form-control" id="company_code" name="company_code"
                                       value="{%if user_info_exist %}{{user_info.company_code}}{%endif%}" {%if user_info.verify %}disabled{%endif%}>
                            </div>
                            <div class="form-group">
                                <label for="company_name">企业名称</label>
                                <input type="text" class="form-control" id="company_name" name="company_name"
                                       value="{%if user_info_exist%}{{user_info.company_name }}{%endif%}">
                            </div>
                            <div class="form-group">
                                <label for="company_address">通信地址</label>
                                <input type="text" class="form-control" id="company_address" name="company_address"
                                       value="{%if user_info_exist%}{{user_info.company_address }}{%endif%}">
                            </div>
                            <div class="form-group">
                                <label for="postal_code">邮政编码</label>
                                <input type="text" class="form-control" id="postal_code" name="postal_code"
                                       value="{%if user_info_exist%}{{user_info.postal_code }}{%endif%}">
                            </div>
                            <div class="form-group">
                                <label for="company_phone">联系电话</label>
                                <input type="text" class="form-control" id="company_phone" name="company_phone"
                                       value="{%if user_info_exist%}{{user_info.company_phone }}{%endif%}">
                            </div>
                            <div class="form-group">
                                <label for="company_mail">电子邮箱</label>
                                <input type="text" class="form-control" id="company_mail" name="company_mail"
                                       value="{%if user_info_exist%}{{user_info.company_mail }}{%endif%}">
                            </div>
                            <div class="form-group">
                                <label for="area_code">地区代码</label>
                                <input type="text" class="form-control" id="area_code" name="area_code"
                                       value="{%if user_info_exist%}{{user_info.area_code }}{%endif%}">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success" type="submit">提交审核</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}